#nav
{
  height: 70px;
}

.feeds div.date
{
  padding-bottom: 0.8em;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 0.4em;
}

.feeds div.date h2
{
  margin-bottom: 0.5em;
}

.feeds div.channel
{
  padding-left: 10px;
}

.feeds a.feed_link
{
  float: left;
  background: transparent url("feed-icon-10x10.png") no-repeat;
  width: 10px;
  height: 10px;
  color: blue;
  margin-top: 6px;
  margin-right: 8px;
}

.feeds a.feed_link span
{
  display: none;
}

.feeds div.blog_channel
{
  border-left: 10px solid #ff8888;
}

.feeds div.forum_channel
{
  border-left: 10px solid #88ff88;
}

.feeds div.wiki_channel
{
  border-left: 10px solid #8888ff;
}

.feeds div.commit_channel
{
  border-left: 10px solid #ffff88;
}

.feeds div.entry
{
  margin-top: 2em;
}

.feeds .content ul
{
  margin-left: 1em;
}